@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    font-family:poppins;
}

.special-card {
  background-color: whitesmoke;
  opacity: .6;
  box-shadow: 0 0 20px #ccc; }

.card h1 {
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Libre Baskerville', serif;
  color: #3a2f36;
  text-align: center; }

.card h3 {
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Libre Baskerville', serif;
  color: #3a2f36;
  text-align: center; }

.card p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-weight: bolder; }

.container {
  margin-top: 8%; }

.card {
  padding: 10%; }

.bottom-card {
  margin-top: 44%; }
